# ----------------------
# Python
# ----------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv/
.venv/
.env

# ----------------------
# Docker
# ----------------------
*.log
*.pid
*.sock

# ----------------------
# Terraform
# ----------------------
.terraform/
*.tfstate
*.tfstate.*
crash.log

# ----------------------
# Secrets & Credentials
# ----------------------
sp.json
*.pem
*.key

# ----------------------
# OS / Editor Files
# ----------------------
.DS_Store
Thumbs.db
.idea/
.vscode/

