# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv/
.venv/
.env

# Docker
*.log
*.pid
*.sock

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Azure credentials
sp.json

# OS files
.DS_Store
Thumbs.db

